
.content {
	padding: 100px 0px 60px 0px;
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
    p {
	padding: 0px 0px 0px 40px
    }
}